<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wdd.app.android.seedoctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".app.SDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.welcome.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.activity.MainActivity" />
        <activity android:name=".ui.routeline.activity.RouteLineActivity" />
        <activity android:name=".ui.routeline.activity.WalkRouteDetailActivity" />
        <activity android:name=".ui.routeline.activity.DriveRouteDetailActivity" />
        <activity android:name=".ui.navigation.activity.NavigationActivity" />
        <activity android:name=".ui.search.activity.NearbySearchActivity" />
        <activity android:name=".ui.routeline.activity.BusRouteDetailActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiDiseaseActivity" />
        <activity android:name=".ui.encyclopedia.activity.DiseaseDetailActivity" />
        <activity android:name=".ui.nearby.activity.NearbyHospitalMapActivity" />
        <activity android:name=".ui.nearby.activity.NearbyDrugstoreMapActivity" />
        <activity android:name=".ui.search.activity.DiseaseSearchActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiDrugCategoryActivity" />
        <activity android:name=".ui.search.activity.DrugSearchActivity" />
        <activity android:name=".ui.encyclopedia.activity.DrugDetailActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiDrugListActivity" />
        <activity android:name=".ui.encyclopedia.activity.RelativeDiseaseListActivity" />
        <activity android:name=".ui.encyclopedia.activity.RelativeDrugListActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiEmergencyActivity" />
        <activity android:name=".ui.encyclopedia.activity.EmergencyDetailActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiDepartmentActivity" />
        <activity android:name=".ui.encyclopedia.activity.DepartmentDetailActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiDoctorActivity" />
        <activity android:name=".ui.encyclopedia.activity.DoctorDetailActivity" />
        <activity android:name=".ui.search.activity.DoctorSearchActivity" />
        <activity android:name=".ui.encyclopedia.activity.WikiHospitalActivity" />
        <activity android:name=".ui.encyclopedia.activity.HospitalDetailActivity" />
        <activity android:name=".ui.search.activity.HospitalSearchActivity" />
        <activity android:name=".ui.encyclopedia.activity.HospitalSecondDepartmentAdtivity" />
        <activity android:name=".ui.encyclopedia.activity.HospitalFilterActivity" />
        <activity android:name=".ui.encyclopedia.activity.DoctorFilterActivity" />
        <activity android:name=".ui.me.activity.AboutAppActivity" />
        <activity android:name=".ui.web.activity.WebActivity" />
        <activity android:name=".ui.me.activity.NavigationSettingsActivity" />
        <activity android:name=".ui.me.activity.VoiceSettingsActivity" />
        <activity android:name=".ui.me.activity.FavoritesActivity" />
        <activity android:name=".ui.me.activity.FavoritesHospitalActivity" />
        <activity android:name=".ui.me.activity.FavoritesDoctorActivity" />
        <activity android:name=".ui.me.activity.FavoritesDepartmentActivity" />
        <activity android:name=".ui.me.activity.FavoritesDiseaseActivity" />
        <activity android:name=".ui.me.activity.FavoritesDrugActivity" />
        <activity android:name=".ui.me.activity.FavoritesEmergencyActivity" />
        <activity android:name=".ui.me.activity.ProfileEditActivity" />
        <activity android:name=".ui.me.activity.AboutDeveloperActivity" />
        <activity android:name=".ui.me.activity.AboutActivity" />
        <activity android:name=".ui.gallery.activity.ImageBrowserActivity" />
        <activity android:name=".ui.routeline.activity.RideRouteDetailActivity" />
        <activity android:name=".ui.news.activity.NewsDetailActivity"/>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="583a74e3717c19544b001fad" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f3efbad56fbc2f520121f28d33dc09c5" />

    </application>

</manifest>